# don't list directories
Options -Indexes

# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

# Protect dot files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# redirect root request to /api/
RewriteRule ^(|api)$ /api/ [R=301,L]

# Protect application and system files from being viewed
RewriteRule ^(?:vendor|source|templates|cache)\b.* index.php [L,QSA]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php
RewriteRule .* index.php [L,QSA]

# use utf-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8

# force utf-8 for a number of file formats
AddCharset utf-8 .html .css .js .xml .json .rss
